[Unit]
Description=UUID daemon activation socket

[Socket]
ListenStream=/run/run/uuidd/request
RuntimeDirectory=uuidd

[Install]
WantedBy=sockets.target
